body{
	background-image: url("../images/background.png");
	margin: 0;
	padding: 0;
}

#header{
	height:100px;
	background-image: url("../images/banner.png");
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
}

#logo{
	color:white;
	text-align:center;
	font-size:80px;
	font-family: 'Dosis', sans-serif;
}

.container{
	text-align:center;
}

#quoteDisplay{
	font-size: 30px;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffdc7c;
	font-family: 'Quicksand', sans-serif;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #566652;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #566652;
	color: white;
}

.active {
    background-color: #ffc66b;
}
